@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./src/fonts/static/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./src/fonts/static/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./src/fonts/static/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-paragraph: hsl(236, 13%, 42%);
  --color-dark-blue: hsl(240, 100%, 5%);
  --color-off-white: hsl(36, 100%, 99%);
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-soft-red: hsl(5, 85%, 63%);
}

@layer base {
html, body {
  font-family: "Inter", "ui-sans-serif", "system-ui";
}
}